
:root {
    box-sizing: border-box;
    --main-width: 30cm;
    --main-background: white;
    --nav-background: rgb(231, 231, 231);
    --monochrome-blend-mode: darken;
    font-family: "Fira", sans-serif;
    color: black;
    line-height: 1.75em;
}

body {
    display: flex;
    justify-content: center;
    background: var(--nav-background);
    position: relative;
    margin: 0 2em;
    overflow-x: hidden;
}

:target {
    background: rgba(201, 139, 100, 0.22);
}

details {
    appearance: none;
}

thead {
    font-weight: bold;
}

h2:not(:first-of-type) {
    margin-top: 1.5cm;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    opacity: 0;
    transition: opacity 1s;
}

#background.loaded {
    opacity: 0.5;
}

#about {
    width: 7cm;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    mix-blend-mode: var(--monochrome-blend-mode);
}

main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: content;
    background: var(--main-background);
    box-shadow: 0 0 10em rgba(0.5, 0.5, 0.5, 0.3);
}

#about, main {
    padding: 0.5cm 1cm;
}

p {
    margin: 0 0 0.333cm 0;
}

article {
    display: grid;
    gap: 0 1em;
    grid: "title extra";
    align-items: start;
    align-content: start;
    padding: 0.5cm;
}

article h3 {
    grid-area: title;
}

article .extra {
    grid-area: extra;
    text-align: right;
    margin: 1.5em 0;
}

article > * {
    grid-column: span 2;
}

.gallery {
    display: grid;
    gap: 0.5cm;
    grid-template-columns: repeat(auto-fit, minmax(4cm, 1fr));
}

.gallery a {
    display: flex;
    gap: 0.25cm;
    flex-direction: column;
    align-items: stretch;
    padding: 0.25cm;
}

.gallery h3 {
    margin: 0;
}

.work, .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10cm, 1fr));
}

.summary {
    display: none;
}

@media screen and (max-width: 31cm) {
    body {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    #about {
        position: relative;
        width: unset;
    }

    #about::before {
        left: -100vw;
        right: -100vw;
        top: 0;
        height: 100%;
    }

    #about table {
        margin: 0 auto;
    }

    .work, .projects {
        grid-template-columns: 1fr;
    }

    article {
        grid:
            "title title"
            "extra extra";
    }
    
    article h3 {
        margin-bottom: 0;
    }
    
    article .extra {
        margin-top: 0;
        text-align: inherit;
    }
}

@media screen and (prefers-contrast: high) {
    #background {
        display: none;
    }
}