
:root {
    box-sizing: border-box;
    --main-width: 20cm;
    --main-background: white;
    --nav-background: rgb(231, 231, 231);
    --monochrome-blend-mode: darken;
    font-family: "Fira", sans-serif;
    color: black;
    line-height: 1.75em;
}

body {
    display: flex;
    align-items: start;
    justify-content: center;
    background: var(--nav-background);
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

:target {
    background: rgba(201, 139, 100, 0.22);
}

details {
    appearance: none;
}

thead {
    font-weight: bold;
}

h2:not(:first-of-type) {
    margin-top: 1.5cm;
}

#about {
    width: 7cm;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    mix-blend-mode: var(--monochrome-blend-mode);
}

main {
    max-width: var(--main-width);
    background: var(--main-background);
    box-shadow:
            0 0 10em rgba(0.5, 0.5, 0.5, 0.3);
}

#about, main {
    padding: 0.5cm 1cm;
}

p {
    margin: 0 0 0.333cm 0;
}

article {
    display: grid;
    gap: 0 1em;
    grid: "title extra";
    align-items: start;
    align-content: start;
    padding: 0.5cm;
}

article h3 {
    grid-area: title;
}

article .extra {
    grid-area: extra;
    text-align: right;
    margin: 1.5em 0;
}

article > * {
    grid-column: span 2;
}

.gallery {
    display: grid;
    gap: 0.5cm;
    grid-template-columns: repeat(auto-fill, minmax(5cm, 1fr));
}

.gallery a {
    display: flex;
    gap: 0.25cm;
    flex-direction: column;
    align-items: stretch;
    padding: 0.25cm;
}

.gallery h3 {
    margin: 0;
}

.work, .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    /* hello Firefox users :) */
    /* noinspection CssInvalidPropertyValue */
    grid-template-rows: masonry;
}

.summary {
    display: none;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --main-background: rgb(26, 25, 24);
        --nav-background: rgb(40, 38, 38);
        --monochrome-blend-mode: lighten;
        color: white;
    }
    
    a {
        color: cornflowerblue;
    }

    a:visited {
        color: darkorchid;
    }
}

@media screen and (max-width: 31cm) {
    body {
        flex-direction: column;
        align-items: center;
        max-width: var(--main-width);
        margin: 0 auto;
    }

    #about {
        position: relative;
        width: unset;
    }

    #about::before {
        left: -100vw;
        right: -100vw;
        top: 0;
        height: 100%;
    }

    #about table {
        margin: 0 auto;
    }

    .work, .projects {
        grid-template-columns: 1fr;
    }
}

@media print {
    * {
        background: none !important;
        box-shadow: none !important;
    }

    body {
        flex-direction: column;
        align-items: center;
        max-width: var(--main-width);
        margin: 0 auto;
        font-size: 10pt;
        line-height: 1.3;
    }
    
    #about {
        position: initial;
        display: grid;
        gap: 0 1cm;
        grid:
            "bla contact"
            "bla contact";
        width: unset;
        padding: 0;
    }
    
    #about p {
        display: none;
    }
    
    #about table {
        grid-area: contact;
    }
    
    .gallery {
        display: none !important;
    }
    
    section {
        display: initial !important;
    }
    
    article > :not(h3, .extra, .summary) {
        display: none;
    }
    
    .summary {
        display: initial;
    }
    
    h1,  h3, p, .extra {
        margin: 0 !important;
    }
    
    article {
        padding: 0.2cm;
    }
}