.mermaid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mermaid svg {
    /*noinspection CssFloatPxLength*/
    transform: translate(0.5px, 0.5px);
}

.mermaid * {
    fill: white;
    stroke: white;
    stroke-width: 1px;
    font-size: 14px !important;
}

.mermaid rect,
.mermaid circle,
.mermaid polygon {
    fill: #272422;
}

.mermaid tspan,
.mermaid text {
    paint-order: stroke;
    stroke-width: 8px;
    stroke: #272422;
    stroke-linejoin: round;
}

.mermaid .label rect {
    fill: none !important;
    stroke: none;
}

.mermaid .transition,
.mermaid .relation {
    fill: none;
}

.mermaid .stateGroup circle {
    fill: white !important;
    stroke: none !important;
}

.mermaid .stateGroup circle + circle {
    stroke: #272422 !important;
}