html {
    display: flex;
    justify-content: space-around;
    /*
     * maybe-probably fix scrollbar jank when moving
     * across pages with and without scrolling.
     * if you dont have calc, no big deal.
     */
    /* noinspection CssOverwrittenProperties */
    width: calc(100vw - 40px);
    height: 100%;

    background: #272422;
    color: white;

    line-height: 1.4;
}

body {
    max-width: 44rem;
    flex-basis: 44rem;
}

a {
    color: inherit;
    text-decoration-color: inherit;
}

a:not([href]) {
    cursor: not-allowed;
    text-decoration: line-through white;
}

a:hover {
    text-decoration-color: aquamarine;
}

a[href^=\/]:hover, a[href*=\#]:hover {
    text-decoration-color: orangered;
}

a:visited, a:active {
    text-decoration-style: dashed;
}

a:visited {
    opacity: 0.8;
}

p, blockquote, ul, ol {
    margin: 0 3em;
}

ul, ol {
    padding-left: 0;
}

li {
    margin-left: inherit;
}

blockquote {
    position: relative;
}

blockquote::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2em;

    border-radius: 0.5em;
    border-right: 0.15em solid currentColor;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Zilla Slab", sans-serif;
}

h1::before, h2::before {
    content: '>';
    position: absolute;

    margin-left: -1em;
    opacity: 0.5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav > :not(:last-child) {
    margin-right: 1em;
}

footer {
    padding: 4em 0 1em 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

main, article {
    margin-bottom: 1em;
}

article h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 2em;
}

article .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

article .content > .katex {
    align-self: center;
    font-size: 1.5em;
    padding: 1rem;
}

main > *, article .content > * {
    margin-bottom: 1em;
}

table thead {
    font-weight: bold;
}

table td:not(:last-of-type) {
    padding-right: 1em;
}

.minimal-center {
    align-self: center;
}

[title] {
    cursor: help;
    text-decoration: underline dotted;
}

img {
    align-self: center;
}

.infobar {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
    justify-content: center;
}

.infobar b::after {
    content: ": ";
}

@media print {
    html {
        height: 99%;

        color: black;
        background: unset;
    }

    body {
        max-width: unset;
    }

    h1::before, h2::before {
        content: none;
    }

    nav, footer {
        display: none;
    }
}