:root {
    --main-background: rgb(26, 25, 24);
    --nav-background: rgb(40, 38, 38);
    --monochrome-blend-mode: lighten;
    --background-blend-mode: hard-light;
    color: white;
}

#background {
    filter: invert(100%);
}